<div>
    <span class="p-key">{{timezone}}:</span>
    <span class="p-value">{{moment-format (unix details.unixTime) "YYYY-MM-DD HH:mm:ss z" timeZone=timezone}}</span>
</div>
<div>
    <span class="p-key">UTC:</span>
    <span class="p-value">{{moment-format (unix details.unixTime) "YYYY-MM-DD HH:mm:ss z ZZ" timeZone="GMT"}}</span>
</div>
